@keyframes stickAnim {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.site{
    &:before{
        @apply content-[''] w-[230px] h-[365px] bg-pathLeft bg-cover absolute left-0 top-0;
    }
    &-content {
        @apply pt-24;
    }
    &-header{
        @apply pt-6 transition-all duration-300 ease-linear;
        &__wrap{
            @apply container flex items-center justify-between;
            .logo{
                h1{
                    @apply mb-0 text-3xl font-dancing text-blue;
                }
            }
        }
        &.isSticky{
            @apply sticky top-0 z-10 py-3 bg-gray/30 backdrop-blur-sm;
            animation: stickAnim .3s ease-in-out;
            .site-header__wrap{
                @apply px-4;
            }
        }
    }
    &_nav{
        @apply hidden w-full lg:flex lg:justify-end;
    }
}

.site__nav {
    ul {
        @apply flex items-center justify-end m-0 mb-0;

        li {
            @apply mb-0 list-none;

            &:not(:first-child) {
                @apply ml-8;
            }

            a {
                @apply font-light text-black uppercase -tracking-wider hover:text-blue font-openSans;
            }

            &.btn{
                @apply transition-all duration-500 ease-in-out;
                a{
                    @apply  font-bold tracking-wide text-gray font-amatic;

                }
            }
        }
    }
}

.separator{
    @apply flex items-center justify-center gap-3 mt-6;
    span{
        @apply w-10 h-[3px] bg-golden;
    }
    svg{
        animation: heartbeat 1s ease-in-out infinite;
    }
}

.intro{
    @apply relative text-center;
    
    &:before{
        @apply content-[''] bg-greenDark/10 -z-[1] absolute left-0 w-full bottom-0 h-[300px];
    }

    h2{
        @apply mb-4 text-6xl font-bold text-center uppercase text-dark font-amatic;
    }

    p {
        @apply font-bold uppercase font-openSans text-greenDark;
    }

    .portrait{
        @apply px-6 relative lg:w-[60%] mx-auto pt-6 pb-5 mt-8 bg-white;
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.22);
        .mainThumbnail{
            @apply mb-3;
        }
        .date{
            @apply mb-0 text-3xl text-center normal-case text-blue font-dancing;
        }
        &:before{
            @apply bg-contain right-[calc(100%_-_170px)] -z-[1] bottom-0 bg-no-repeat content-[''] w-[300px] h-[200px] absolute bg-portraitIzq;
        }
        &:after{
            @apply bg-contain left-[calc(100%_-_113px)] -z-[1] -top-[90px] bg-no-repeat content-[''] w-[300px] h-[200px] absolute bg-portraitDer;
        }
    }
}

.content-wedding{
    @apply py-20 bg-greenDark/10; 
    .copy{
        @apply grid grid-cols-12 text-left;
        &--content{
            @apply lg:col-span-5 lg:pr-16;
            h5{
                @apply font-bold uppercase font-openSans text-greenDark;
            }
            h2{
                @apply text-5xl font-bold text-left font-amatic text-dark mb-7;
            }
            p{
                @apply text-xl font-normal normal-case text-dark -tracking-wider;
                &:last-of-type{
                    @apply mb-0;
                }
            }
        }
        &--thumbs{
            @apply flex items-center lg:col-span-6;
            .photo{
                @apply lg:w-[240px];
            }
        }
    }
}

.location{
    @apply relative py-40 bg-no-repeat bg-[length:95%] bg-center md:px-6 bg-frame;
    .container-mid{
        @apply grid grid-cols-2 gap-8;
    }
    .frame{
        @apply p-12 text-center bg-white rounded-2xl;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 12px 27px 0px rgba(0, 0, 0, 0.10), 0px 50px 50px 0px rgba(0, 0, 0, 0.08), 0px 112px 67px 0px rgba(0, 0, 0, 0.05), 0px 199px 80px 0px rgba(0, 0, 0, 0.01), 0px 311px 87px 0px rgba(0, 0, 0, 0.00);
        img{
            @apply w-4 mx-auto;
        }
        h4{
            @apply mb-3 text-lg font-bold uppercase text-greenDark font-openSans;
        }
        h3{
            @apply mb-6 text-5xl font-bold leading-none text-dark font-amatic;
        }
        p{
            @apply text-dark font-openSans text-xl -tracking-wide font-normal leading-[120%];
            u{
                @apply text-sm no-underline block md:w-[70%] mx-auto;
            }
            &:nth-last-child(){
                @apply !mb-0;
            }
        }
        table{
            @apply text-dark mb-4 mx-auto md:w-[70%] font-openSans text-xl -tracking-wide font-normal leading-[120%];
            th{
                @apply mb-3 text-sm font-bold uppercase text-greenDark font-openSans;
            }
            td{
                @apply align-baseline;
            }
            em{
                @apply text-sm not-italic font-normal text-blue;
            }
        }
        a{
            @apply inline-block px-6 py-2 text-lg font-bold border-2 rounded-md hover:bg-blue hover:text-white text-blue font-openSans leading-160 border-greenDark mt-9;
        }

    }
}

.photo{
    @apply px-3 pt-3 transition-transform duration-200 ease-linear bg-white shadow-xl pb-11;
    &.transform-left{
        @apply -rotate-12 hover:rotate-0;
    }
    &.transform-middle{
        @apply rotate-6 hover:rotate-0;
    }
    &.transform-right{
        @apply rotate-12 hover:rotate-0;
    }
}

.countdown{
    @apply relative py-16 text-center bg-greenDark/10;
    .separator{
        @apply absolute right-0;
    }
    &--title{
        @apply text-5xl font-bold font-amatic;
    }
    &--date{
        @apply relative flex gap-6 px-16 py-8 mx-auto my-16 bg-white border-2 rounded-2xl w-max border-blue;
        
        
        @keyframes heartbeat{
            0% {
                transform: scale(0.85);
            }
            20% {
                transform: scale(1);
            }
            40% {
                transform: scale(0.85);
            }
            60% {
                transform: scale(1);
            }
            80% {
                transform: scale(0.85);
            }
            100% {
                transform: scale(0.85);
            }
        }

        .heart{
            @apply absolute left-0 right-0 m-auto -top-6 w-9;
            animation: heartbeat 1.5s ease-in-out infinite;
        }
        &-box{
            @apply flex flex-col justify-center gap-1 pr-[60px] border-r border-grayDark;
            &:last-child{
                @apply pr-0 border-transparent;
            }
            strong{
                @apply text-5xl font-dancing text-blue;
            }
            span{
                @apply text-3xl font-amatic text-dark;
            }
        }
    }
    &::after{
        @apply -bottom-[150px] absolute left-0 content-[''] w-[248px] h-[410px] bg-contain bg-no-repeat bg-couple;
    }
}

.gallery{
    @apply relative py-16 overflow-x-clip bg-greenDark/10 ;
    &--title{
        @apply mb-10 text-5xl font-bold text-center font-amatic;
    }
    .photo{
        @apply pb-5;
    }
    .caption{
        @apply mt-3 mb-0 text-2xl font-bold text-center font-amatic text-blue line-clamp-1;
    }
    &--slide{
        @apply p-0 m-0 list-none;

        .slick-slide {
            @apply mx-2;
        }
      
        .slick-list {
            @apply -mx-2 !pb-8;
        }
    }
    &:after{
        @apply -bottom-[150px] absolute -left-[50px] content-[''] w-[300px] h-[250px] bg-contain bg-no-repeat bg-plantBottom;         
    }
}

.rspv{
    @apply pb-16;
    &:before{
        @apply w-[180px] h-[317px] bg-shapeBottom content-[''] bg-cover bg-no-repeat absolute right-0;
    }
    h2{
        @apply mb-0 text-5xl font-bold text-center font-amatic;
    }
    .separator{
        @apply mt-3 mb-6;
    }
    p{
        @apply text-lg leading-120 text-dark -tracking-wide w-[60%] mx-auto text-center;
    }
    .gform_wrapper {
        @apply w-[40%] mx-auto mt-12;
        .gform_heading{
            @apply hidden;
        }
        .ts-control{
            @apply shadow-none;
        }
        .gfield_radio{
            @apply flex items-center justify-center mx-auto w-[70%];
            .gchoice{
                @apply flex justify-center flex-1 gap-3;
            }
        }

        .gform_page_footer{
            @apply flex justify-center;
        }

        .gform-theme-button{
            @apply px-6 py-1 text-xl font-bold uppercase border-none rounded-md cursor-pointer bg-blue text-gray font-amatic hover:bg-rosa;

        }
    }
}

.locations-section{

    .acf-map {
        @apply w-full h-[80vh] relative;
    }

    div[role="dialog"]:has(.gm-style-iw-d){
        @apply z-50 rounded-md shadow-none bg-gray;

    }

    .marker-title{
        @apply mt-0 mb-2 text-3xl font-bold font-amatic text-blue;
    }
    .marker-address{
        @apply mb-0 text-base leading-none text-dark;
    }

    .btn{
        @apply inline-block px-6 py-1 mt-3;
    }


}