.site{
    &:before{
        @apply content-[''] w-[230px] h-[365px] bg-pathLeft bg-cover absolute left-0 top-0;
    }
    &-content {
        @apply pt-24;
    }
    &-header{
        @apply pt-6 transition-all duration-300 ease-linear;
        &__wrap{
            @apply container flex items-center justify-center;
        }
        &.isSticky{
            @apply sticky top-0 z-10 py-3 bg-gray/30 backdrop-blur-sm;
            .site-header__wrap{
                @apply max-w-full px-4;
            }
        }
    }
    &_nav{
        @apply hidden w-full lg:flex lg:justify-end;
    }
}

.site__nav {
    ul {
        @apply flex items-center justify-end m-0 mb-0;

        li {
            @apply mb-0 list-none;

            &:not(:first-child) {
                @apply ml-8;
            }

            a {
                @apply font-light text-black uppercase -tracking-wider hover:text-blue font-openSans;
            }

            &.btn{
                @apply transition-all duration-500 ease-in-out;
                a{
                    @apply  font-bold tracking-wide text-gray font-amatic;

                }
            }
        }
    }
}

.separator{
    @apply flex items-center justify-center gap-3 mt-6;
    span{
        @apply w-10 h-[3px] bg-golden;
    }
    svg{
        animation: heartbeat 1s ease-in-out infinite;
    }
}

.intro{
    @apply relative;
    &:after{
        @apply content-[''] w-[150px] h-[265px] bg-pathRight bg-contain absolute right-0 bottom-0;
    }

    h1{
        @apply mb-0 text-5xl font-bold text-center uppercase text-dark font-amatic;
    }

    .portrait{
        @apply px-6 relative lg:w-[60%] mx-auto pt-6 pb-5 my-16 bg-white;
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.22);
        .mainThumbnail{
            @apply mb-3;
        }
        .date{
            @apply mb-0 text-3xl text-center text-blue font-dancing;
        }
        &:before{
            @apply bg-contain right-[calc(100%_-_170px)] -z-[1] bottom-0 bg-no-repeat content-[''] w-[300px] h-[200px] absolute bg-portraitIzq;
        }
        &:after{
            @apply bg-contain left-[calc(100%_-_113px)] -z-[1] -top-[90px] bg-no-repeat content-[''] w-[300px] h-[200px] absolute bg-portraitDer;
        }
    }

    .copy{
        @apply text-center lg:w-[60%] mx-auto;
        h2{
            @apply text-5xl font-dancing text-dark mb-7;
        }
        p{
            @apply text-xl text-dark -tracking-wider;
        }
    }
}

.location{
    @apply relative py-20;
    .frame{
        @apply bg-frame bg-contain bg-center bg-no-repeat text-center w-[790px] mx-auto px-[160px] pt-[240px] pb-[150px];
        h3{
            @apply mb-8 text-5xl font-bold uppercase text-dark font-amatic;
        }
        p{
            @apply text-xl leading-120 text-dark -tracking-wide;
            em{
                @apply not-italic font-semibold text-blue;
                &:nth-child(2){
                    @apply text-sm italic text-dark;
                }
            }
            strong{
                @apply text-3xl text-dark font-dancing;
            }
            &:last-of-type{
                @apply mt-6;
            }
        }
    }
    .photo{
        @apply absolute;
        &.transform-left{
            @apply top-0 left-0;
        }
        &.transform-right{
            @apply bottom-0 right-0;
        }
    }
}

.photo{
    @apply px-3 pt-3 transition-transform duration-200 ease-linear bg-white shadow-xl pb-11;
    &.transform-left{
        @apply -rotate-6 hover:rotate-0;
    }
    &.transform-right{
        @apply rotate-6 hover:rotate-0;
    }
}

.countdown{
    @apply relative py-16 text-center;
    .separator{
        @apply absolute right-0;
    }
    &--title{
        @apply text-5xl font-bold font-amatic;
    }
    &--date{
        @apply relative flex gap-6 px-16 py-8 mx-auto my-16 bg-white border-2 rounded-2xl w-max border-blue;
        
        
        @keyframes heartbeat{
            0%
            {
                transform: scale( .75 );
            }
            20%
            {
                transform: scale( 1 );
            }
            40%
            {
                transform: scale( .75 );
            }
            60%
            {
                transform: scale( 1 );
            }
            80%
            {
                transform: scale( .75 );
            }
            100%
            {
                transform: scale( .75 );
            }
        }

        .heart{
            @apply absolute left-0 right-0 m-auto -top-6 w-9;
            animation: heartbeat 1s ease-in-out infinite;
        }
        &-box{
            @apply flex flex-col justify-center gap-1 pr-[60px] border-r border-grayDark;
            &:last-child{
                @apply pr-0 border-transparent;
            }
            strong{
                @apply text-5xl font-dancing text-blue;
            }
            span{
                @apply text-3xl font-amatic text-dark;
            }
        }
    }
    &::after{
        @apply -bottom-[150px] absolute left-0 content-[''] w-[248px] h-[410px] bg-contain bg-no-repeat bg-couple;
    }
}

.gallery{
    @apply relative py-16 overflow-x-clip;
    &--title{
        @apply mb-10 text-5xl font-bold text-center font-amatic;
    }
    .photo{
        @apply pb-5;
    }
    .caption{
        @apply mt-3 mb-0 text-2xl font-bold text-center font-amatic text-blue line-clamp-1;
    }
    &--slide{
        @apply p-0 m-0 list-none;

        .slick-slide {
            @apply mx-2;
        }
      
        .slick-list {
            @apply -mx-2 !pb-8;
        }
    }
    &:after{
        @apply -bottom-[150px] absolute -left-[50px] content-[''] w-[300px] h-[250px] bg-contain bg-no-repeat bg-plantBottom;         
    }
}

.rspv{
    @apply pb-16;
    &:before{
        @apply w-[180px] h-[317px] bg-shapeBottom content-[''] bg-cover bg-no-repeat absolute right-0;
    }
    h2{
        @apply mb-0 text-5xl font-bold text-center font-amatic;
    }
    .separator{
        @apply mt-3 mb-6;
    }
    p{
        @apply text-lg leading-120 text-dark -tracking-wide w-[60%] mx-auto text-center;
    }
    .gform_wrapper {
        @apply w-[40%] mx-auto mt-12;
        .gform_heading{
            @apply hidden;
        }
        .ts-control{
            @apply shadow-none;
        }
        .gfield_radio{
            @apply flex items-center justify-center mx-auto w-[70%];
            .gchoice{
                @apply flex justify-center flex-1 gap-3;
            }
        }

        .gform_page_footer{
            @apply flex justify-center;
        }

        .gform-theme-button{
            @apply px-6 py-1 text-xl font-bold uppercase border-none rounded-md cursor-pointer bg-blue text-gray font-amatic hover:bg-rosa;

        }
    }
}



.locations-section{

    .acf-map {
        @apply w-full h-[80vh] relative;
    }

    div[role="dialog"]:has(.gm-style-iw-d){
        @apply z-50 rounded-md shadow-none bg-gray;

    }

    .marker-title{
        @apply mt-0 mb-2 text-3xl font-bold font-amatic text-blue;
    }
    .marker-address{
        @apply mb-0 text-base leading-none text-dark;
    }

    .btn{
        @apply inline-block px-6 py-1 mt-3;
    }


}